{% extends "basepage.html" %}        
        
{% block content %}
    <div class="container">
        <h1> Добро пожаловать! Это новостная лента компании </h1>
        
        <form style="width: 550px;" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success me-2" type="submit">Search</button>
            <button type="button" class="btn btn-outline-success" style="width: 300px;">
                <a style="text-decoration: none;" class="link-success" href={% url 'create_article' %}>Предложить пост</a>
            </button>
        </form>

        

        <div style="padding-top: 20px;">
            {% include 'article.html' %}
        </div>

    </div>
{% endblock content %}

{% block footer %}

    <div class="container-fluid" style="padding: 50px; background-color: black;">
        <div class="row justify-content-evenly">
            <div class="col-6">
            <h4 style="text-align: center;"> Подпишитесь на нашу рассылку </h4>
            <p style="text-align: center;"> Получайте специальные предложения и новости </p>
            </div>
        </div>
            <form class="d-flex justify-content-center" method="post" action="{% url 'subscribe' %}">
                {% csrf_token %}
                <input type="email" name="useremail" class="form-control me-2 w-25" id="exampleFormControlInput1" placeholder="name@example.com">
                <button class="btn btn-outline-success" type="submit">
                    <a style="text-decoration: none; color: white;">Подписаться</a>
                </button>
            </form>
            <div style="color: red;" class="form-text">{{ error }}</div>
    </div>

{% endblock footer %}


